<h1>Triangle</h1>
<form  action="/results">
  <div class='form-group'>
    <label for="side_a">Enter a value for side a:</label>
    <input type='text' name="side_a" class='form-control'>
    <label for="side_b">Enter a value for side b:</label>
    <input type="text" name="side_b" class='form-control'>
    <label for="side_c">Enter a value for side c:</label>
    <input type="text" name="side_c" class='form-control'>


  </div>
  <button type='submit'>Submit</button>
</form>
