<h1>Results</h1>
<div>
  <p>
    Your triangle <% if @triangle.isEquilateral? %>is Equilateral<% end %>
                  <% if @triangle.isIsosceles? %>is Isosceles<% end %>
                  <% if @triangle.isScalene? %>is Scalene<% end %>
  </p>
  <a href='/'>back</a>
</div>
